html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  height: 100%;
}

body element.style {
  padding: 0;
}

:root {
  --dark-blue: #2b4263;
  --light-blue: #86c0cc;
  --peach: #e1866f;
  --gold: #f5c976; 
  --dark-grey: #26282b;
  --med-grey: #7e8791;
  --light-grey: #a5abb2;

  --bg-color: #eaecef;
  --main-txt-color: #04070a;

  /* background: var(--bg-color); */
  color: var(--main-txt-color);
}

#flex {
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

/* MUI header style */
div#box main.css-19kzrtu {
  padding: 0;
  height: 76px;
}

#header {
  background-image: linear-gradient(to top right, 
    var(--light-blue), var(--dark-blue));
  background-color: var(--light-blue);
}

#drawer {
  height: 100%;
  background-image: linear-gradient(to top right, 
    var(--light-blue), var(--dark-blue));
  background-color: var(--light-blue);
}

#header h1,
#header h1 a {
  flex-grow: 1;
  color: var(--bg-color);
}
/* end MUI header style */

#outlet {
  width: 100%;
  margin: 0;
  padding: 0;
  flex: 1 1 auto;
}

img {
  object-fit: cover;
}

#banner {
  width: 100%; 
  height: 300px;
  position: relative;
  background-image: linear-gradient(to top right, 
    var(--peach), var(--light-blue));
  background-color: var(--peach);
}

#banner img {
  width: 100%;
  height: 100%;
  opacity: 0.3;
}

#banner h2 {
  position: absolute;
  top: 50%;
  right: 10%;
  z-index: 1000;
}

aside img {
  width: 400px;
  height: 450px;
  justify-self: center;
  align-self: center;
}

aside.card img {
  width: 400px;
  height: 200px;
  justify-self: center;
  align-self: center;
}

.layout-grid {
  padding-block: 2rem;
  width: min(80%, 70rem);
  margin-inline: auto;
  display: grid;
  gap: 2rem;
  grid-auto-columns: 1fr;
  align-items: center;
}

@media (min-width: 50rem) {
  .layout-grid {
      grid-template-columns: repeat(3, 1fr);
  }

  .grid-col-span-2 {
      grid-column: span 2;
  }

  aside.card img {
    width: 200px;
  }
}

#container {
  width: 80%;
  padding: 2rem;
  margin: auto;
}

a {
  text-decoration: none;
  color: var(--main-txt-color);
}

a:hover {
  text-decoration: none;
}

button {
  padding: 1rem 2rem;
  font-size: 1rem;
  margin: 1rem 0;
  border-radius: 50px;
  /* background-color: rgba(0, 0, 0, 0); */
  background-color: var(--peach);
  border: none;
  display: block;
}

button a {
  color: var(--main-txt-color);
}

button:hover {
  /* background-color: rgba(53, 75, 80, 0.1); */
  background-color: var(--gold);
  cursor: pointer;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form,
.form {
  width: 80%;
  margin: auto;
}

label, 
.block {
  display: block;
  width: 80%;
  margin: 1rem;
}

::selection {
  background: var(--peach);
}

#footer {
  width: 100%;
  background-image: linear-gradient(to top right, 
    var(--gold), var(--peach));
  background-color: var(--peach);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

#footer a {
  padding: 0 0 0 2rem;
}

